@use "@forever/sass-utils/utils-mixins" as u;
@use "@forever/sass-utils/mixins" as m;
@use "@forever/sass-utils/variables" as v;

.nav_menu_drawer {
  background-color: v.$primary-color;
  font-weight: 500;
  width: 100% !important;
}

.header_right_links {
  @include u.row-center;
  gap: 16px;

  .header_right_link_badge {
    position: absolute;
    bottom: -1px;
    right: -6px;
  }


  li {
    position: relative;

    .theme_icon {
      cursor: pointer;

      @include m.responsive(md) {
        display: none;
      }
    }

    &:has(.theme_icon) {
      @include m.responsive(md) {
        display: none;
      }

    }

    &:has(.toggle_menu_icon) {
      display: none;

      @include m.responsive(md) {
        display: inline;
      }

    }
  }
}