@use "@forever/sass-utils/utils-mixins" as u;
@use "@forever/sass-utils/variables" as v;

.verify_reset_password_code_resend {
    @include u.flex-start;
    gap: 6px;
    margin-top: 8px;
    font-size: 14px;
    color: v.$secondary-color;

    &_link {
        color: v.$text-color;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;

        &.disabled {
            color: v.$secondary-color;
            text-decoration: none;
            cursor: not-allowed;
        }
    }

    &_timer {
        color: v.$secondary-color;
    }
}
